parameters:
    level: 2
    paths:
        - app
        - config
        - public
        - routes
        - tests
    excludePaths:
        - app/Views/*
        - vendor
        - storage
    bootstrapFiles:
        - app/Core/helpers.php
    ignoreErrors:
        - '#extends @final class Nyholm\\Psr7\\Response#'
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: true
